@model IEnumerable<eTickets.DTO.ProducerDTOS.ProducerDto>

@{
    ViewData["Title"] = "List Of Producers";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table table-striped table-hover align-middle">
            <thead>
            <tr class="text-center">
                <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                <th>@Html.DisplayNameFor(model => model.FullName)</th>
                <th>@Html.DisplayNameFor(model => model.Bio)</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle text-center">
                        <img class="rounded-circle"
                             src="@item.ProfilePictureURL"
                             alt="@item.FullName"
                             style="max-width: 150px; height: 150px; object-fit: cover;" />
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(modelitem => item.FullName)
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(modelitem => item.Bio)
                    </td>

                    <td class="text-center">

                        @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                        {
                            <a class="btn btn-outline-primary btn-sm"
                               asp-action="Edit"
                               asp-route-id="@item.Id">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                        }

                        <a class="btn btn-outline-info btn-sm"
                           asp-action="Details"
                           asp-route-id="@item.Id">
                            <i class="bi bi-eye"></i> Details
                        </a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-outline-danger btn-sm"
                               asp-action="Delete"
                               asp-route-id="@item.Id">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        }

                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div style="position: fixed; right: 25px; bottom: 25px; z-index: 9999;">
        <a asp-action="Create" class="btn btn-success text-white">
            <i class="bi bi-plus-circle"></i> Add New Producer
        </a>
    </div>
}